html {
  background: var(--base);
  accent-color: var(--mauve);
  caret-color: var(--lavender);
  scrollbar-color: var(--surface1) var(--crust);
  scrollbar-gutter: stable;
  scrollbar-width: auto;
}
:root { accent-color: var(--lavender); }
:focus-visible { 
  outline-color: var(--lavender);
  outline-style: solid;
  outline-width: 1px; }
::selection { background-color: var(--lavender); color: var(--base) }
::marker { color: var(--lavender); }
::placeholder, ::-webkit-input-placeholder {
  color: var(--lavender);
  opacity: 75%
}
:is(
  ::-webkit-calendar-picker-indicator,
  ::-webkit-clear-button,
  ::-webkit-inner-spin-button, 
  ::-webkit-outer-spin-button
) {
  color: var(--lavender);
}
body {
  display: flex;
  flex-flow: column nowrap;
  color: var(--text);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 1.375rem;
  font-family: var(--sans-font-stack);
}
a {
  color: var(--link-color);
  &:hover {
    color: var(--link-hover-color);
  }
}
select, input {
  padding: .5rem;
  border: var(--input-border);
  border-radius: var(--main-br);
  background: var(--input-bg);
  color: var(--lavender);
  font-size: var(--font-size);
}
select, input[type="submit"], [type="button"], input[type="reset"] {
  height: 2.125rem;
  cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin-right: .25rem;
  line-height: 1.375rem;
  vertical-align: middle;
}
input[type="text"] {
  width: auto;
  max-width: 100%;
}
input::placeholder, 
textarea::placeholder {
  color: var(--input-placeholder-text-color);
}
input, textarea {
  padding: .5rem;
  border: var(--input-border);
  border-radius: var(--main-br);
  background: var(--input-bg);
  color: var(--input-text-color);
}
textarea {
  width: 100%;
  min-width: 12rem;
  max-width: min(80vw, 64rem);
  height: auto;
  min-height: 12rem;
  overflow: clip;
}
.footer {
  align-self: center;
  margin: 1rem 0 1rem 0;
  color: var(--subtext0);
  font-size: var(--font-size-small); 
  user-select: none;
}
h1, h2, h3 {
  color: var(--heading-color);
}
.bottom:has([type="checkbox"] + a), 
.bottom[style="padding-bottom: 2px;padding-left: 7px"], 
.searchgenres {
  display: inline flex;
  flex-flow: row wrap;
}
/* Ratio text */
[color="#1900D1"], [color="blue"], [color="​#0000ff"] {
  color: var(--bookmark-blue)
}
[color="#000000"], [color="black"] {
  color: var(--text);
}
[color="yellow"], [color="#ffff00"] {
  color: var(--yellow);
}
[color="orange"], [color="#ffa500"] {
  color: var(--peach);
}
[color="pink"], [color="#ffc0cb"] {
  color:var(--pink);
}
[color="green"], [color="#008000"] {
  color: var(--green)
}
[color=darkred], [color="#dd0000"], [color="#ee0000"],[color="#ff0000"], [color="red"] {
  color: var(--red)
}
[color="#cc0000"], [color="#bb0000"], [color="#aa0000"] {
  color: var(--maroon)
}
[color="#880000"], [color="#990000"],  [color="#770000"] {
  color: var(--peach)
}
[color="purple"] {
  color: var(--mauve);
}
pre {
  white-space: pre-wrap;
}
td {
  overflow-wrap: break-word;
}
th {
  color: var(--th-text-color);
}
font.small {
  font-size: var(--font-size-small)
}
#profilesettings .small {
  font-size: var(--font-size-profile-small);
}
/* Details page - Description td width */
td:has(>pre) {
  width: 100%;
} 
.rowhead, .heading {
  min-width: max-content;
  color: var(--th-text-color);
  font-variant: small-caps;
  font-weight: bold;
  text-transform: lowercase;
}
p:empty {
  display: none;
}
/* contain images, prevent overflow */
.div_showhide img, img[alt="User Avatar"], p.sig img, td.comment img, td.text img {
	max-width: 100%;
	max-height: 64rem;
}
span.small {
  color: var(--subtext0);
}
.js-source-data {
  box-sizing: content-box;
}
b {
  font-weight: 700
}