.banner_container .statposter_views {
	padding: .125rem .375rem;
	border-radius: var(--main-br);
  border: var(--recommendation-blur-button-border);
	background-color: var(--recommendation-blur-bg-color);
	color: var(--subtext1);
  font-size: var(--font-size);
	order: 2;
	height: auto;
	align-self: flex-end;
  backdrop-filter: blur(6px);
  position: absolute;
  right: .25rem;
  left: auto;
  bottom: .25rem;
  opacity: 1;
}
.show-ignore.button {
	visibility: hidden;
	position: relative;
	float: right;
	justify-content: center;
	text-align: center;
	margin: .25rem;
}
.overlay-popupui:hover > .button {
	visibility: visible;
	cursor: pointer;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#tvstatboxes {
	display: flex !important;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}
#tvstatboxes .statbox {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	align-content: flex-start;
	justify-content: center;
}
div.statbox {
	box-sizing: border-box;
	padding: 0;
	max-width: 52rem;
	width: 100%;
	margin: 0;
	background: var(--mantle);
	border-radius: var(--main-br);
	border: var(--table-border);
	overflow: hidden;
}
#tvstatboxes .statbox_banners {
	display: flex;
	flex-flow: row wrap;
	margin: 0 1rem;
	gap: 1rem;
  & :first-child {
    flex: 100%;
  }
}
div.banner_container {
	width: auto;
	flex: 1 1 45%;
}
.statbox img {
  border-radius: var(--main-br);
  filter: var(--poster-shadow);
  border: 0;
  margin: 0;
}
a.tv_morelink {
	position: relative;
	right: auto;
	padding: .75rem 0;
	bottom: auto;
	cursor: pointer;
	display: block;
	box-sizing: border-box;
	margin: 0 -1rem;
	flex: 100%;
  background: var(--mantle);
  filter: brightness(100%);
  font-size: var(--font-size);
  color: var(--link-color);
  font-weight: 700;
  text-transform: uppercase;
  border-top: var(--table-border);
  &:hover {
    color: var(--link-hover-color);
  }
}
h2.stattitle {
	border-bottom: var(--table-border);
	margin: 0;
	background: var(--mantle);
	flex: 100%;
	padding: 1rem 0;
}

.tv-todownload {
	display: flex;
  gap: 1rem;
  & #tv-show-list {
    display: flex;
    flex-flow: row wrap;
    gap:.5rem;
    flex: min-content;
    max-width: 760px;
    overflow: scroll;
    background: var(--mantle);
    border-radius: var(--main-br);
    border: var(--table-border);
    padding: 1rem;
  }
  & .show-header {
    border-radius: var(--main-br);
    overflow: clip;
    position: relative;
    & .show-banner {
      max-width: 100%;
    }
  }
  .show-unfollow {
    backdrop-filter: blur(6px);
    color: var(--button-secondary-text-color);
    border: var(--recommendation-blur-button-border);
    background-color: var(--recommendation-blur-bg-color);
    margin: .25rem;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: var(--font-size-tag);
    visibility: hidden;
    line-height: normal;
  }
}
#tv-episode-list {
  background: var(--mantle);
  border-radius: var(--main-br);
  border: var(--table-border);
  border-left: var(--table-border);
}
.tv-todownload .show-torrents {
  text-align: left;
  & .show-title {
    font-size: var(--font-size-larger);
    font-weight: bold;
    border-bottom: var(--table-border);
    padding: .75rem;

  }
  & .show-preference {
    padding: .5rem;
    & * {
      display: inline-block;
    }
  }
  & .show-season {
    &>* {
      padding: .5rem;
    }
    & .season-title {
      font-size: var(--font-size-large);
      color: var(--th-text-color);
      font-weight: bold;
      border-top: var(--table-border);
      border-bottom: var(--table-border);
      padding: .5rem;
      background: var(--crust);
      display: flex;
      flex-flow: row wrap;
      gap: .5rem;
      align-items: center;
    }
  }
  .season-episode {

    &:not(:last-child){
      padding-bottom: .5rem;
      margin-bottom: .5rem;
      border-bottom: var(--table-border);
    }
    & .episode-title {
      font-weight: bold;
    }
  }
  & .tv-torrent {
    display: flex;
    align-items: center;
    gap: .125rem;
    &>:first-child{
      order: 2;
      padding-left: .25rem;
    }
    .season-episode > & {
      padding-left: .5rem;
    }
  }
  
}
