/* Primary Button Styling */
.btn, button, [type="button"], .index[href*="/comments/add"], .button {
  color: var(--button-primary-text-color);
  background: var(--button-primary-bg);
  border: var(--button-primary-border);
  font-size: var(--font-size);
  font-weight: bold;
  border-radius: var(--actionbr);
  padding: var(--button-padding);
  cursor: pointer;

  &:hover {
    color: var(--button-primary-text-hover-color);
    background-color: var(--button-primary-hover-bg);
  }
}
/* Add comment */
p:has(.index[href*="/comments/add"]) {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  height: auto;
}
/* Secondary button styling */
#resultsarea button, .tvdb_button, .fl_token_button input[type="submit"], .tag-content>a, input[type="submit"][value]:not([id], [class]), .button2, input[type="reset"]{
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--button-secondary-text-color);
  background: var(--button-secondary-bg);
  border: var(--button-secondary-border);
  cursor: pointer;
  border-radius: var(--actionbr);
  padding: var(--button-padding);
  display: inline-block;
  &:hover {
    color: var(--button-secondary-text-hover-color);
    background-color: var(--button-secondary-hover-bg);
    border-color: transparent;
  }
}
.tag {
  padding: 1px .5rem;
  border: var(--general-border);
  border-radius: var(--large-br);
  margin: 0 0 0 4px;
  text-transform: lowercase;
  font-size: .75rem;
  font-weight: 700;
  font-variant: small-caps;
  vertical-align: middle;
  display: inline-block;
  background: var(--crust);
  line-height: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.tag[class*="exclusive"] {
  color: var(--mauve);
}
.tag.new {
  color: var(--red);
}
.tag.internal {
  color: var(--yellow);
}
[class*="half_freeleech"] {
  color: var(--sapphire);
}
.tag_completed {
  color: var(--peach);
}
.tag_incomplete {
  color: var(--red)
}
.tag_seeding {
  color: var(--green-seeding);
}
h1.fl, span.tag.freeleech, span.tag.tag_leeching {
  color: var(--lavender);
}
#torrent-list td:not(.catcell) > a[href*="/film/info"] {
  vertical-align: middle;
  margin: 0 1em 0 0;
  padding: 1px 4px;
  background-color: var(--base);
  box-sizing: border-box;
  color: var(--yellow);
  font-size: var(--font-size-tag);
  text-transform: lowercase;
  font-variant: small-caps;
  border-radius: var(--br);
  border: var(--general-border);
  &:hover {
    background-color: var(--mantle)
  }
}
#sitesearchsubmit.searchicon {
  border: 0;
  display: inline-block;
  background: var(--button-primary-bg);
  mask: url("../img/search.svg") center no-repeat;
  mask-size: 18px;
  width: 2.25rem;
  height: auto;
  cursor: pointer;
  &:hover {
    background: var(--button-primary-hover-bg);
  }
}
#torrent-list :is(.tvdb_button, button[onclick^="hide"]) {
  /* background-color: var(--base); */
  padding: .25rem .5rem;
  text-transform: lowercase;
  font-variant: small-caps;
}
a.js-download:not(.index) {
  display: inline-block;
  background: var(--button-primary-bg);
  mask: url("../img/download.svg") center no-repeat;
  mask-size: 20px;
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  &:hover {
    background: var(--button-primary-hover-bg)
  }
}
a[id^="rss"] {
  display: inline-block;
  background: var(--button-primary-bg);
  mask: url("../img/rss1.svg") center no-repeat;
  mask-size: 18px;
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  &:hover {
    background: var(--button-primary-hover-bg);
  }
}
.js-bookmarkadd {
  display: inline-block;
  background: var(--button-primary-bg);
  mask: url("../img/bookmark1.svg") center no-repeat;
  mask-size: 20px;
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  margin-left: -1px;
  &:hover {
    background: var(--button-primary-hover-bg);
  }
}
a.js-wishlistadd:not([id^="rss"]), a[title="Add this film to your wishlist"], a[title="Add to wishlist"], a[title="Add to wishlist"][onclick*="delWishlist"], img.info__wishlist {
  display: inline-block;
  background: var(--button-primary-bg);
  mask: url("../img/wishlist.svg") center no-repeat;
  mask-size: 22px;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    background: var(--button-primary-hover-bg);
  }
}
/* Wishlist icon on Filminfo page */
.film-info a[onclick] > img { 
  display: none;
}
a[href*="javascript:unignoreshow"], a[onclick*="delWishlist"], a[onclick*="removeFromWishlist"], a[title="Remove from wishlist"], a[title="Remove this film from your wishlist"] {
  background: var(--yellow);
  display: inline-block;
  mask: url("../img/wishlisted.svg") center no-repeat;
  mask-size: 22px;
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    background: var(--button-primary-hover-bg);
  }
}
a.js-bookmarkdel, a[href*="javascript:delBookmark"] {
  background: var(--bookmark-blue);
  display: inline-block;
  mask: url("../img/bookmarked.svg") center no-repeat;
  mask-size: 20px;
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  cursor: pointer;
  margin-left: -1px;
  &:hover {
    background: var(--button-primary-hover-bg);
  }
}
.minicon {
  display: none;
}
img[alt*="Online"] {
  display: block;
  box-sizing: border-box;
  background: var(--green);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding-left: 10px;
}
img[alt="Offline"] {
  display: block;
  box-sizing: border-box;
  background: var(--red);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding-left: 10px;
}
img[alt="Send PM"] {
  background: var(--button-primary-bg);
  mask: url("/img/message.svg") center no-repeat;
  mask-size: 20px;
  height: 1.25rem;
  width: 1.25rem;
  align-self: center;
  padding-left: 1.25rem;
  display: block;
  box-sizing: border-box;
}

.showlinks {
  flex: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1.5rem;
  & [href*="imdb.com"] {
    background: url("../img/imdb.svg") center no-repeat;
    width: 2.5rem;
    height: 1.25rem;
    filter: brightness(80%);
    font-size: 0;
    display: block;
    &:hover {
      filter: brightness(1);
    }
  }
  & a[href*="tvdb.com/?tab=series"] {
    background: url("../img/tvdb.svg") center no-repeat;
    width: 2.5rem;
    height: 1.25rem;
    filter: brightness(80%);
    font-size: 0;
    display: block;
    &:hover {
      filter: brightness(1);
    }
  }
}
/* Ignore Show button Showpage */
#showignored2 {
  justify-content: flex-start;
  display: flex;
  flex: 45%;
  font-size: 0;
  line-height: 0;

  & a[href*="javascript:ignoreShow"] {
    display: block;
    position: relative;
    padding-left: 24px;
    width: 6rem;
    height: 2.25rem;
    color: var(--button-secondary-text-color);
    background: var(--button-secondary-bg);
    border: var(--button-secondary-border);
    border-radius: var(--large-br);

    &::before {
      position: absolute;
      font-size: var(--font-size);
      content: "";
      top: 7px;
      left:12px;
      display: inline-block;
      background: var(--button-secondary-text-color);
      mask: url("../img/ignore.svg") center no-repeat;
      mask-size: 20px;
      width: 1.25rem;
      height: 1.25rem;
      display: inline-block;
      vertical-align: middle;
    }
    &::after {
      content: "Ignore";
      position: absolute;
      top: 17px;
      font-size: var(--font-size);
      margin-left: -18px;
    }
    &:hover {
      background-color: var(--button-secondary-hover-bg);
      &::before {
        background: var(--button-secondary-text-hover-color)
      }
      &::after {
        color: var(--button-secondary-text-hover-color)
      }
    }
  }
}
#showignored {
  justify-content: flex-start;
  display: flex;
  flex: 45%;
  font-size: 0;
  line-height: 0;

  & a[href*="javascript:unIgnoreShow"] {
    display: block;
    position: relative;
    padding-left: 24px;
    width: 6.5rem;
    height: 2.25rem;
    color: var(--button-secondary-text-color);
    background: var(--button-secondary-bg);
    border: var(--button-secondary-border);
    border-radius: var(--large-br);

    &::before {
      position: absolute;
      font-size: var(--font-size);
      content: "";
      top: 7px;
      left:11px;
      display: inline-block;
      background: var(--button-secondary-text-color);
      mask: url("../img/unignore.svg") center no-repeat;
      mask-size: 20px;
      width: 1.25rem;
      height: 1.25rem;
      display: inline-block;
      vertical-align: middle;
    }
    &::after {
      content: "Unignore";
      position: absolute;
      top: 17px;
      font-size: var(--font-size);
      margin-left: -28px;
    }
    &:hover {
      background-color: var(--button-secondary-hover-bg);
      &::before {
        background: var(--button-secondary-text-hover-color)
      }
      &::after {
        color: var(--button-secondary-text-hover-color)
      }
    }
  }
}
#showfollowed {
  justify-content: flex-end;
  display: flex;
  flex: 45%;
  font-size: 0;
  line-height: 0;

  & a[href*="javascript:unFollowShow"] {
    display: block;
    position: relative;
    padding-left: 24px;
    width: 6.5rem;
    height: 2.25rem;
    color: var(--button-secondary-text-color);
    background: var(--button-secondary-bg);
    border: var(--button-secondary-border);
    border-radius: var(--large-br);

    &::before {
      position: absolute;
      font-size: var(--font-size);
      content: "";
      top: 7px;
      left:12px;
      display: inline-block;
      background: var(--button-secondary-text-color);
      mask: url("../img/unfollow.svg") center no-repeat;
      mask-size: 20px;
      width: 1.25rem;
      height: 1.25rem;
      display: inline-block;
      vertical-align: middle;
    }
    &::after {
      content: "Unfollow";
      position: absolute;
      top: 17px;
      font-size: var(--font-size);
      margin-left: -26px;
    }
    &:hover {
      background-color: var(--button-secondary-hover-bg);
      &::before {
        background: var(--button-secondary-text-hover-color)
      }
      &::after {
        color: var(--button-secondary-text-hover-color)
      }
    }
  }
}
#showfollowed2 {
  justify-content: flex-end;
  display: flex;
  flex: 45%;
  font-size: 0;
  line-height: 0;

  & a[href*="javascript:followShow"] {
    display: block;
    position: relative;
    padding-left: 24px;
    width: 6rem;
    height: 2.25rem;
    color: var(--button-secondary-text-color);
    background: var(--button-secondary-bg);
    border: var(--button-secondary-border);
    border-radius: var(--large-br);

    &::before {
      position: absolute;
      font-size: var(--font-size);
      content: "";
      top: 7px;
      left:12px;
      display: inline-block;
      background: var(--button-secondary-text-color);
      mask: url("../img/follow.svg") center no-repeat;
      mask-size: 20px;
      width: 1.25rem;
      height: 1.25rem;
      display: inline-block;
      vertical-align: middle;
    }
    &::after {
      content: "Follow";
      position: absolute;
      top: 17px;
      font-size: var(--font-size);
      margin-left: -19px;
    }
    &:hover {
      background-color: var(--button-secondary-hover-bg);
      &::before {
        background: var(--button-secondary-text-hover-color)
      }
      &::after {
        color: var(--button-secondary-text-hover-color)
      }
    }
  }
}
img[alt="Read"] {
	background: var(--button-primary-bg);
	mask: url("../img/message.svg") center no-repeat;
  mask-size: 20px;
	height: 1.25rem;
	width: 1.25rem;
	align-self: center;
	padding-left: 1.25rem;
	filter: grayscale(50%);
	display: block;
	box-sizing: border-box;
}
a[href*="action=add&type=friend"]{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  color: var(--button-secondary-text-color);
  background: var(--button-secondary-bg);
  border: var(--button-secondary-border);
  border-radius: var(--large-br);
  font-size: 0;
  &::before {
    position: absolute;
    content: "";
    top: 7.5px;
    left:6px;
    background: var(--button-secondary-text-color);
    mask: url("../img/addfriend1.svg") center no-repeat;
    mask-size: 22px;
    width: 1.25rem;
    height: 1.25rem;
  }
  &:hover {
    background-color: var(--button-secondary-hover-bg);
    border-color: transparent;
    &::before {
      background: var(--button-secondary-text-hover-color);
    }
  }
}
a[href*="action=delete&type=friend"], a[href*="action=delete&type=befriend"] {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  color: var(--button-secondary-text-color);
  background: var(--button-secondary-bg);
  border: var(--button-secondary-border);
  border-radius: var(--large-br);
  font-size: 0;
  &::before {
    position: absolute;
    content: "";
    top: 7.5px;
    left:6px;
    background: var(--button-secondary-text-color);
    mask: url("../img/removefriend.svg") center no-repeat;
    mask-size: 22px;
    width: 1.25rem;
    height: 1.25rem;
  }
  &:hover {
    background-color: var(--button-secondary-hover-bg);
    border-color: transparent;
    &::before {
      background: var(--button-secondary-text-hover-color);
    }
  }
}
p:has(> a[href*="action=delete&type=friend"], > a[href*="action=add&type=friend"]) {
  font-size: 0;
}
.buddylist {
	background: var(--button-primary-bg);
	mask: url("../img/friends.svg") center no-repeat;
  mask-size: 24px;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: var(--input-box-border-radius);
	transition: all .25s ease;
  margin: 0 .25rem;

  &:hover {
    background: var(--button-primary-hover-bg);
  }
}
.mytorrents {
	background: var(--button-primary-bg);
	mask: url("../img/mytorrents.svg") center no-repeat;
  mask-size: 25px;
	width: 1.5rem;
	height: 1.625rem;
  margin: 0 .25rem;
  margin-top: 7px;
	transition: all .25s ease;
  
  &:hover {
    background: var(--button-primary-hover-bg);
  }
}
a[href*="imdb.com/name/nm"]:not(#cast a)  {
  display: inline-block;
  background: url("../img/imdb.svg") left no-repeat;
  background-size: auto;
  background-size: contain;
	height: 16px;
	width: 32px;
	border-radius: 2px;
  margin-left: .25rem;
  vertical-align: middle;
  & img[src*="imdb.png"] {
    display: none;
  }
}
button.rc__actions-ignore, button.rc__actions-wishlist, .show-ignore.button  {
	text-transform: lowercase;
  font-variant: small-caps;
	font-size: var(--font-size-tag);
	position: initial;
  backdrop-filter: blur(6px);
  color: var(--button-secondary-text-color);
  border: var(--recommendation-blur-button-border);
	background-color: var(--recommendation-blur-bg-color);
  border-radius: var(--large-br);
  line-height: normal;
}
.show-ignore.button {
  line-height: normal;
}