.film-info > .contentlayout {
  background: var(--mantle);
  border: var(--table-border);
  border-radius: var(--large-br);
  padding: .5rem .75rem;
}
.contentlayout img[style="max-height:350px;border:0px;"] {
  height: 20rem;
  width: auto;
  border-radius: var(--large-br);
  filter: var(--poster-shadow);
  margin-left: .25rem;
}
.film-info + div[style="font-size: 24px; margin-bottom: 15px"] {
  margin-top: 1rem;
  display: block;
  color: var(--yellow);
  background: var(--mantle);
  border: var(--table-border);
  border-radius: var(--large-br);
  padding: .5rem .75rem;
  & ~ div[style="font-size: 24px;"] {
    color: var(--heading-color);
  }
}
.film-info ~ a[href*="lists"] {
  display: block;
  background: var(--mantle);
  border: var(--table-border);
  border-radius: var(--large-br);
  padding: .5rem .75rem;
  margin-top: 1rem;
}
