.rc.js-rc {
	background: var(--mantle);
	border-radius: var(--large-br);
	border: var(--table-border);
	overflow: hidden;
}
.rc__header {
	padding: 1rem 0;
	color: var(--heading-color);
	background: var(--mantle);
	border-bottom: var(--table-border);
}
img.rc__film__poster {
	border-radius: .5rem;
	object-fit: fill;
	box-shadow: var(--bs);
}
div.rc__film:hover .rc__overlay {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	max-height: 300px;
	max-width: 200px;
	align-items: stretch;
	padding: .4rem;
	height: auto;
	backdrop-filter: blur(15px);
}
a.rc__overlay {
	background-color: rgba(10,10,18,.63);
	box-sizing: border-box;
	border-radius: .5rem;
	overflow: hidden;
	border: 1px solid var(--highlighted-border-hover-color);
	box-shadow: inset 0 0 5px 3px #00000044;
}
.rc__toggle.js-rc-toggle {
	background: var(--mantle);
	filter: brightness(110%);
	font-size: 0.6875rem;
	color: var(--link-text-color);
	font-weight: 700;
	text-transform: uppercase;
	border-top: var(--table-border);
}