.unlocked {
	width: 36px;
	height: 36px;
	mask: url("../img/unlocked.svg") center no-repeat;
  background-color: var(--lavender);
  filter: brightness(.6)
}
.unlockednew {
	width: 36px;
	height: 36px;
	mask: url("../img/unlocked.svg") center no-repeat;
  mask-size: 36px;
  background-color: var(--lavender);
}
.locked {
	width: 36px;
	height: 36px;
	mask: url("../img/locked.svg") center no-repeat;
  mask-size: 36px;
  background-color: var(--lavender);
  filter: brightness(.7);
  margin-bottom: 7px;
}
.lockednew {
	width: 36px;
	height: 36px;
	mask: url("../img/locked.svg") center no-repeat;
  mask-size: 36px;
  background-color: var(--lavender);
  margin-bottom: 7px;
}
.embedded:has(>[class*="locked"]){
  height: 42px;
  width: 42px; 
}
.embedded:has(>.hasposted)::after {
	content: "";
	display: inline-block;
	height: 9px;
	width: 9px;
  background-color: var(--lavender);
  border-radius: 3px;
	position: absolute;
  bottom: 8px;
  left: 26px;
}
.embedded:has(>.unlocked.hasposted)::after {
  filter: brightness(90%);
}
.embedded:has(>.locked.hasposted)::after {
  filter: brightness(90%);
}
tr:has(td > .hasposted) {
  position: relative;
}
.readpost a, .std-content a, td.comment a[href] {
	word-break: break-all;
}