.unlocked {
	width: 36px;
	height: 36px;
	mask: url("../img/unlocked.svg") center no-repeat;
  background-color: var(--lavender);
  filter: brightness(.7)
}
.unlockednew {
	width: 36px;
	height: 36px;
	mask: url("../img/unlocked.svg") center no-repeat;
  mask-size: 36px;
  background-color: var(--button-primary-hover-bg);
}
.locked {
	width: 36px;
	height: 36px;
	mask: url("../img/locked.svg") center no-repeat;
  mask-size: 36px;
  background-color: var(--lavender);
  filter: brightness(.7)
}
.lockednew {
	width: 36px;
	height: 36px;
	mask: url("../img/locked.svg") center no-repeat;
  mask-size: 36px;
  background-color: var(--button-primary-hover-bg);
}
.embedded:has(>.hasposted)::after {
	content: "";
	display: inline-block;
	height: 9px;
	width: 9px;
  background-color: var(--lavender);
  border-radius: 3px;
	scale: 1;
	bottom: 18%;
	position: absolute;
  left: 6% ;
}
.embedded:has(>.unlocked.hasposted)::after {
  filter: brightness(90%);
}
.embedded:has(>.locked.hasposted)::after {
  filter: brightness(90%);
}
tr:has(td > .hasposted) {
  position: relative;
}