
.bottom > .small {
  font-size: var(--font-size-small);
  color: var(--subtext0);
  margin-bottom: 1rem;
}
.embedded:has(#news) {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  & h2 {
    text-indent: .25rem;
    font-size: var(--font-size-larger);
    padding: 1rem;
    border-bottom: var(--table-border);
  }
  & h1 {
    font-size: var(--font-size-large);
    padding: 1rem .5rem;
  }
}
p[id^="news"] {
  font-size: var(--font-size-news);
  padding: 0 1rem 1rem;
  border-bottom: 1px solid var(--surface0)
}
#news {
  background: var(--mantle);
  border-radius: 1rem;
  flex: 100%;
  order: 0;
  border: var(--table-border);
  & > table td {
    padding: 0 1rem;
  }
}
#news + h2 {
  order: 1;
  flex: 74%;
  background: var(--mantle);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  margin-bottom: -1rem;
  border: var(--table-border);
}
#news ~ h2:last-of-type {
  order: 2;
  flex: 24%;
  background: var(--mantle);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  margin-bottom: -1rem;
  border: var(--table-border);
}
#news ~ table:first-of-type {
  display: flex;
  order: 3;
  flex: 74%;
  background: var(--mantle);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  justify-content: center;
  border: var(--table-border);
  border-top: 0;
}
#news ~ table:last-of-type {
  display: flex;
  order: 4;
  flex: 24%;
  align-self: flex-start;
  flex-direction: column;
  background: var(--mantle);  
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  border: var(--table-border);
  border-top: 0;
  /* & :is(tbody,tr,td:not(.interiortable td)) {
    display: contents
  } */
}
#news ~ table img[style^="max-width"] {
  max-width: 100% !important;
}
#news #showmore a {
  min-width: 100%;
  display: block;
  padding: .75rem;
  text-align: center;
}
.embedded:has(#news) .text label {
  display: inline flex;
  align-items: center;
}
.interiortable td:not(.text) {
  border-bottom: var(--table-border);
  padding: .125rem .25rem;
}
.rowhead {
  text-align: left;
}
