div#list-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1rem;
}
div.item-body {
	background: inherit;
	box-sizing: border-box;
	padding: 0;
	border-radius: var(--main-br);
	display: flex;
	flex-direction: row;
	height: min-content;
	max-width: 52rem;
	overflow: hidden;
	text-align: left;
	border: var(--table-border);
	background: var(--mantle);
}
.description .js-wishlistadd img {
  opacity: 0;
}
div.list-links > a {
	display: block;
	padding: 4.5px 6px;
	border: var(--button-primary-border);
	text-decoration: none;
	border-radius: var(--main-br);
	background: var(--button-primary-bg);
	color: var(--button-primary-text-color);
	margin: auto;
	transition: all .25s ease;
  font-weight: bold;
  &:hover {
    color: var(--button-primary-text-hover-color);
    background-color: var(--button-primary-hover-bg);
  }
}
.item-body > div.rank + a[href*="imdb.com/title/tt"] img.movie-banner {
	width: 100%;
	height: 100%;
	max-height: 12rem;
	max-width: 135px;
	min-height: 12rem;
	min-width: 135px;
}
.item > .item-body > div.description {
	text-align: left;
	margin-left: 0;
	max-height: 100%;
	overflow: auto;
  font-size: var(--font-size);
	position: relative;
	padding-left: .5rem;
	width: 100%;
}
.imdb div.item-description {
	font-size: var(--font-size);
	padding-left: 1rem;
  padding-top: .5rem;
  padding-right: .5rem;
  margin-left: -.5rem;
  margin-top: .375rem;
  border-top: var(--table-border);
}
.item > .item-body > div.description > .item-title {
	display: inline-block;
	font-weight: 700;
	font-size: 1.25rem;
	padding: .9rem .25rem .75rem .25rem;
	background: var(--inner-th-bg-color);
}
div.movie-rating {
	display: inline-block;
	padding: .5rem 0;
	color: var(--yellow);
	font-weight: 700;
}
div.item.imdb > .item-body > .rank {
	font-size: 1.5rem;
	font-weight: 400;
	padding: 1rem 0;
	min-width: 2.2rem;
	margin-left: 0;
	position: relative;
	float: right;
	left: 0;
	color: var(--lavender);
	order: 0;
	font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
}
div.item > h2 {
	display: none;
}
/* TV List */
div.item.tvdb {
	display: flex;
	min-height: 12rem;
	height: auto;
	max-width: 48rem;
	width: 48rem;
	position: initial;
  & .item-body {
    flex-flow: row wrap;
  }
}

div.item.tvdb > .item-body > .rank {
	font-size: 1.5rem;
	text-align: center;
	font-weight: 400;
	padding: 1rem 0;
	min-width: 2.2rem;
	margin-left: 0;
	flex: 1 0 5%;
	color: var(--lavender);
	order: 1;
	background: var(--mantle);
  border-right: var(--table-border);
	font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
}
.item.tvdb > .item-body > .rank + a {
	flex: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;  
  border-bottom: var(--table-border);

}
.item.tvdb > .item-body > a img.tv-banner {
	height: 100%;
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}
.item.tvdb > .item-body > div.description {
	text-align: left;
	margin-left: 0;
	margin-top: 0;
	overflow: auto;
	font-size: .875rem;
	position: static;
	padding: .5rem;
	max-width: 94%;
	flex: 1 1 94%;
	width: 94%;
	order: 2;
	left: 0;
	max-height: 100%;
}
div.item {
	margin: 0;
	max-width: 48rem;
	height: min-content;
	vertical-align: text-bottom;
}
.item.tvdb .item-description {
	padding-left: 0;
}
div.item-description {
	font-size: .8125rem;
}
#list-container .item > .item-body > .comment {
	position: absolute;
	left: 24%;
	bottom: .5rem;
	border: var(--table-border);
	padding: .25rem .5rem;
	background-color: var(--quote-bg-color);
  border-radius: var(--main-br);
  font-style: italic;
}