/* Remove html styling */ 

table, td, tr, th, button {
  padding: 0;
  border: 0;
  border-collapse: collapse;
}
td[style]:not(.tablesorter td, #sidebar-container, .lottery_table td, #profilesettings td, 
/* user profile page */
.bottom:not([id]) > .main[border="0"][cellspacing="0"][cellpadding="0"] .embedded > table td,
form[action="dox.php"] td[style="border:black solid 1px;"], p.sub+.main td) {
  border: none !important;
}
/* requests contentlayout fourcell padding */ 
td[style="padding: 5px 0px 5px 0px;"] {
  padding: initial!important; 
}
#header[style] {
  margin-bottom: 0px !important;
}
body {
  margin: 0;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none
}
a {
  text-decoration:none
}
#sidebar-container {
  padding: 0 !important;
}
[width="737"], [width="930"]  {
  width: auto;
}
* {
  margin: 0;
  box-sizing: border-box;
}
hr {
  display: none;
}
/* #searchbox */
[style="width:800px;"], [style="width: 116px;"] {
  width: auto !important;
}
/* sidebar select */
[style="margin-top: 7px;"] {
  margin-top: 0 !important;
}
/* details page .fourcell audio info padding */
td[style="padding-left: 30px; border-left: 1px solid black; width:53%; vertical-align:top;"] {
  padding-left: .25rem !important;
}
/* actor img size */ 
.actorpic[style="max-height: 82px"] {
  max-height: initial !important;
}
/* details > tag */ 
.js-tagcontent, 
.js-tagcontent + td[style="width:30%;"] {
  width: auto !important;
}
input[style="height: 25px"]:is([type="submit"], [type="reset"]), input[style="height: 23px"], input[style="border: 0px; height: 19px"] {
  height: 2.125rem !important;
}
input[style="border: 0px; height: 19px"] {
  border: var(--input-border) !important;
}
input[style="height: 25px; width: 100px"] {
  height: 2.125rem !important;
  width: auto !important;
}
div[style="width: 900px; text-align: left"]:has(.film-info) {
  width: auto !important;
}
/* Friends page - Blocked users list */
td[style="padding: 10px;background-color: #ECE9D8"] {
  padding: .5rem !important;
  background-color: inherit !important;
}
div[style="width: 930px; margin: 0px auto;"] {
  width: auto !important;
  margin: auto !important;
}
form td[style="padding: 0px"] {
  padding: .25rem !important;
}