p:has(a[href*="page="]):not(.sub) {
  font-size: 0;
  display: flex;
  background-color: var(--mantle);
  border: var(--general-border);
  border-radius: var(--large-br);
  width: max-content;
  align-self: center;
  margin: auto; /* requests table centering */
  border-collapse: collapse;
  & :is(b:not(a>b), a) {
    font-size: var(--font-size);
    /* border: var(--general-border); */
    padding: var(--button-padding);
  }
  /* when pagination is not last child, style >b+br and >a+br (Next)*/
  & :where(:not(:last-child) > :is(b, a):has(+ br) ) {
    order: 1;
    border-top-right-radius: var(--large-br);
    border-bottom-right-radius: var(--large-br);
  }
  /* when pagination is last child, style >br+b and >br+a (Prev)*/
  &:where(p:last-child) > :is(br+b, br+a) {
    order: -1;
    border-top-left-radius: var(--large-br);
    border-bottom-left-radius: var(--large-br);
  }
  &:not(:last-child)>:first-child {
    border-top-left-radius: var(--large-br);
    border-bottom-left-radius: var(--large-br);
  }
  &:where(p:last-child) >:last-child {
    border-top-right-radius: var(--large-br);
    border-bottom-right-radius: var(--large-br);
  }
  a:hover{
    background-color: var(--)
  }
}