.std-content {
  max-width: 64rem;
  margin-top: 1rem;
}
.readpost, 
html body table.main tbody tr td.bottom table.main:last-of-type > tbody:first-child > tr:first-child > td:first-child > table:first-child > tbody:first-child > tr:first-child > td:first-child > table.main,
td.bottom > table[width="800"] + table.main + h2 + table[width="100%"] > tbody > tr > td > p.sub + table.main {
	border-radius: 0 0 var(--main-br) var(--main-br);
	background-color: var(--mantle);
	margin-bottom: .7rem;
	border: var(--table-border);
	overflow: hidden;
	min-height: 150px;
	min-width: 100%;
	max-width: 64rem;
  border-collapse: separate
}
.std-content > tbody:first-child > tr:first-child > td > table:nth-child(3n-1), 
.std-content > tbody:first-child > tr:first-child > td > table:nth-last-child(2), 
html body table.main tbody tr td.bottom table.main:last-of-type > tbody:first-child > tr:first-child > td:first-child > table:first-child > tbody:first-child > tr:first-child > td:first-child > p.sub, td.bottom > table[width="800"] + table.main + h2 + table[width="100%"] > tbody > tr > td > p.sub, td.comment > p.sub, 
td[style="border: 1px black dashed"] > p.sub {
	border-radius: var(--main-br) var(--main-br) 0 0;
	background-color: var(--crust);
  padding: 0.5rem 1rem;
	display: block;
	border: var(--table-border);
	border-bottom: 0;
	margin: 0 !important;
  color: var(--subtext0);
}
.std-content > tbody:first-child > tr:first-child > td > table:nth-child(3n-1), 
.std-content > tbody:first-child > tr:first-child > td > table:nth-last-child(2) {
  &:has(+ .main) {
  border-color: var(--unreadpost-border-color);
  }
}

.std-content > tbody > tr > td > table.main {
	border-radius: 0 0 var(--main-br) var(--main-br);
  border-collapse: separate;
	background-color: var(--unreadpost-bg-color);
	margin-bottom: .5rem;
	border: var(--unreadpost-border);
	overflow: hidden;
	min-height: 150px;
	min-width: 100%;
}
p.sub {
  overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	max-width: 64rem;
}
table.main > tbody > tr > td.text {
	overflow-wrap: break-word;
	word-break: break-word;
	object-fit: contain;
}
table.main > tbody > tr > td.text, td.comment {
	padding: .8rem;
	box-sizing: border-box;
}
.std-content > tbody > tr > td > table > tbody:first-child > tr:first-child > td:first-child > p[style="margin-left: 5px;"] {
	margin-left: 0 !important;
	font-family: var(--mono-font-stack);
	margin: auto;
	padding: .2rem 0;
	text-align: right;
	font-size: .6275rem;
	letter-spacing: -.8px;
  line-height: normal;
}
hr, td[style="border: 1px black dashed"] {
	border: var(--table-border) !important;
	padding: .5rem;
	border-radius: var(--main-br);
	background-color: var(--quote-bg-color);
	max-width: 90vw;
}
body td.comment > p.sub, td[style="border: 1px black dashed"] > p.sub {
	width: max-content;
	padding: 0 .5rem;
	height: 1.75rem;
	margin: 0 0 -1px 3px !important;
	overflow: auto;
	border-radius: var(--main-br) var(--main-br) 0 0;
  display: flex;
  align-items: center;
  & +.main {
    border-collapse: separate;
  }
}
.main:has(>tbody>tr>td[style="border: 1px black dashed"]) {
  border-collapse: separate;
}
p.sig {
  border-top: 2px solid var(--surface1);
  margin-top: .8rem;
}
a[name]:not([href]), p.sub > a[name]:target {
  pointer-events: none;
  scroll-margin-top: 10rem;
}
.js-watchtopic {
	display: flex;
	right: 10px !important;
	height: 100%;
	align-items: center;
}
.std-content > tbody > tr > td > table.main > tbody:first-child > tr:nth-child(2), table.readpost > tbody:first-child > tr:nth-child(2){
  display: none;
}
.div_showhide {
  display: none;
	padding: .5rem;
	border: var(--table-border);
	background: var(--quote-bg-color);
	max-width: 100%;
	border-radius: var(--main-br);
}
.spoiler {
	filter: blur(4px);
	transition: all .25s ease;
	position: relative;
	overflow: hidden;
}
.spoiler:active, .spoiler:focus, .spoiler:hover, .spoiler:hover a[href*="img"], .spoiler:hover a[href*="img"] img, .spoiler:hover a[href*="img"]::after {
	filter: none;
	backdrop-filter: none;
	transform: scale(1);
	transition: filter,backdrop-filter .25s ease;
}
.previewbox:not(:empty) {
  padding: .75rem;
  border: var(--table-border);
  border-radius: var(--main-br);
}
td.comment img, td.text img {
	filter: var(--poster-shadow);
	border-radius: var(--small-br);
}
p.sub > a[href*="/details.php?id="] {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}