#searchbox {
  width: 100% !important;
  min-width: 38rem;
}
#searchbox:not(:has(#tabs)) {
	display: block;
  background-color: var(--mantle);
  border: var(--table-border);
	border-radius: var(--main-br);
  margin: 1rem 0;
}
/* "browse2.css" override */
#searchbox:has(#tabs) {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  gap: 1rem;
  & #tabs {
    width: 100%
  }
}
#searchbox #searchcriteria {
  border: var(--table-border);
	border-radius: var(--main-br);
  padding: var(--button-padding);
  background-color: var(--mantle);
}
#searchbox > tbody {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  & table.bottom {
    display: table;
    width: inherit;
  }
  & td.bottom {
    display: flex;
    align-content: center;
    align-items: center;
  }
}
#searchbox > tbody > tr {
  width: 100%;
  padding: var(--button-padding)
}
#moresearch3[style="display: table-row;"] {
  display: flex !important;
  justify-content: space-between;
  border-top: 1px solid var(--surface0)
}
#moresearch3 > td:first-child {
  width: 100%;
}
[style="width: 108px;"] {
  width: 100% !important;
}
#moresearch3 .bottom > tbody {
  display: flex;
  flex-flow: row wrap; 
  & > tr {
    flex: 25%;
    &:nth-child(2n+1) {
      height: auto;
    }
  }
}
#moresearch3 > td > .bottom > tbody > tr:nth-child(1) {
  order: 0;
  align-self: center;

}
#moresearch3 > td > .bottom > tbody > tr:nth-child(3) {
  order: 1;
  align-self: center;
}
#moresearch3 > td > .bottom > tbody > tr:nth-child(5) {
  order: 2;
  align-self: center;
}
#moresearch3 > td > .bottom > tbody > tr:nth-child(7) {
  order: 3;
  & .bottom:first-child > b {
    font-size: 0;
    &:before {
      font-size: var(--font-size);
      content: 'Origin / Exclusivity';
      vertical-align: middle;
    }
  }
  & .bottom:last-child {
    display: none;
  }
}

#moresearch3 > td > .bottom > tbody > tr:nth-child(2) {
  order: 4
}
#moresearch3 > td > .bottom > tbody > tr:nth-child(4) {
  order: 5
}
#moresearch3 > td > .bottom > tbody > tr:nth-child(6) {
  order: 6
}
#moresearch3 > td > .bottom > tbody > tr:nth-child(8) {
  order: 7
}
/* #moresearch3 > td > .bottom > tbody > tr:nth-child(1) {
  order: 4
} */
#search {
  width: 100%;
  max-width: 100%;
}
#searchbox > tbody > tr:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
td[style="padding:5px; border:black solid 1px;"] {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: .5rem;
  padding: .25rem !important;

}
div.chosen:nth-child(3) {
  width: auto !important;
}
#tags_chosen_chosen {
  width: auto !important;
}

#tvform {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 1rem;
  column-gap: .5rem;
  & div.searchgenres {
    display: flex;
    flex-wrap: wrap;
    gap: .1rem;
      row-gap: 0.1rem;
    row-gap: .25rem;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
}
:is(div.searchgenres, td.searchgenres) input {
  min-width: 16px;
  flex: 0 0 3%;
  min-height: 16px;
}
:is(div.searchgenres, td.searchgenres) label {
  min-width: 104px;
  flex: 0 1 16%;
}
td.searchgenres {
  display: flex;
  flex-wrap: wrap;
  row-gap: .25rem;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: left;;
}
#moresearch1, #moresearch2, #moresearch4, #moresearch5 {
  border-top: var(--table-border);
}
#moresearch4 td {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	gap: .3rem;
}
#moresearch5 > td:first-child {
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: .3rem;
}
/* ###################" */
#moresearch5 > td:first-child > select[name="tagsearchtype"] {
	align-self: center;
	justify-self: end;
	text-align: center;
	margin-top: 0 !important;
}
#moresearch5>td:first-child>select[name=tagsearchtype] {
  align-self: center;
  justify-self: end;
  height: var(--input-box-height);
  text-align: center;
  border-radius: var(--main-br);
  margin-top: 0!important
}

div > div.dhtmlxcalendar_yahoolike {
	background: var(--crust);
	border: var(--table-border);
	font-family: var(--mono-font-stack);
	font-size: var(--font-size);
	width: auto;
	height: auto;
	padding: .3rem;
	z-index: 99;
	border-radius: var(--main-br);
	filter: drop-shadow(0 0 2rem black);
	transform: scale(2);
	transform-origin: 0 0;
}
.dhtmlxcalendar_yahoolike table.entbox {
	margin: auto;
	width: 100%;
	height: 100%;
}
.entbox > tbody {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: space-around;
	align-items: center;
	width: auto;
	height: auto;
}
.dhtmlxcalendar.dhtmlxcalendar_yahoolike tr, div.dhtmlxcalendar.dhtmlxcalendar_yahoolike div, div.dhtmlxcalendar.dhtmlxcalendar_yahoolike table, div.dhtmlxcalendar.dhtmlxcalendar_yahoolike tbody, div.dhtmlxcalendar.dhtmlxcalendar_yahoolike td, div.dhtmlxcalendar_yahoolike .dxcaldays td, div.dhtmlxcalendar_yahoolike .dxcaldays_ie td, div.dhtmlxcalendar_yahoolike .dxcaldlabel td {
	box-sizing: border-box;
	background: var(--crust);
	font-family: var(--mono-font-stack);
	font-size: var(--font-size);
	text-align: center;
}
div.dhtmlxcalendar_yahoolike .dxcaldays td, div.dhtmlxcalendar_yahoolike .dxcaldays_ie td, div.dhtmlxcalendar_yahoolike .dxcaldlabel td {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	color: var(--subtext0);
}
.daynames, .dxcalmonth > tbody > tr {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
tr:has(.month_btn_right) {
  gap: .125rem; 
}
div.dhtmlxcalendar_yahoolike .dxcaldays td, div.dhtmlxcalendar_yahoolike .dxcaldays tr, div.dhtmlxcalendar_yahoolike .dxcaldays_ie td {
	border: var(--table-border);
	background-color: inherit;
	text-align: center;
	cursor: pointer;
}
div.dhtmlxcalendar_yahoolike .dxcaldays > tbody > tr > td.hover, 
div.dhtmlxcalendar_yahoolike .dxcaldays > tbody > tr > td.selected {
	background-color: var(--button-primary-bg);
	color: var(--button-primary-text-color) !important;
	opacity: 1;
	font-weight: 500;
	box-sizing: border-box;
}
.dhtmlxcalendar_yahoolike .dxcalmonth :is(td.month_btn_left, td.month_btn_right) {
	background-image: none !important;
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-text-color);
  border: var(--button-secondary-border);
  border-radius: var(--main-br);
	width: 1.5rem !important;
  cursor: pointer;
  &:hover {
    background-color: var(--button-secondary-hover-bg);
    color: var(--button-secondary-text-hover-color);
  }
}
div.dhtmlxcalendar_yahoolike div.planeMonth, div.dhtmlxcalendar_yahoolike div.planeYear {
	height: auto;
	overflow: auto;
	font-size: var(--font-size);
	font-weight: 700;
	width: 70px;
	padding: .25rem;
	color: var(--link-color);
}
div.dhtmlxcalendar_yahoolike div.planeMonth:hover, div.dhtmlxcalendar_yahoolike div.planeYear:hover {
	background-color: var(--button-secondary-hover-bg);
	color: var(--button-secondary-text-hover-color);
	opacity: 1;
	font-weight: 500;
	box-sizing: border-box;
	border-radius: var(--main-br);
}
td.month_btn_left span, td.month_btn_right span {
	visibility: visible !important;
}
div.dhtmlxcalendar select.dhtmlxRichSelector {
	font-family: var(--mono-font-stack);
	position: absolute;
	font-size: .6875rem;
	min-height: 17rem;
  min-width: 3rem;
	color: var(--link-color);
	background: var(--surface0);
	z-index: 100;
	border: 0;
  padding: 0;
	overflow: visible;
  & option {
    padding: .25rem .5rem;
  }
  & option:hover {
    background-color: var(--lavender);
    color: var(--crust);
  }
}
.dhtmlxcalendar .entbox textarea.dhtmlxRichSelector {
  display: none;
}
/* ################################### */
/* ## Can of worms I'm not touching ## */
/* ################################### */
div.chosen-container\ chosen-container-single {
  display: none!important
}
div.chosen-container.chosen-container-multi.chosen.chosen-with-drop.chosen-container-active {
  border-radius: var(--main-br)
}
.chosen-container * {
  box-sizing: border-box
}
.chosen-container .chosen-drop {
  position: absolute;
  z-index: 1010;
  width: auto;
  border-top: 0;
  clip: rect(0,0,0,0);
  clip-path: unset;
  overflow: clip;
  filter: drop-shadow(0 .25rem .5rem black)
}
.chosen-container.chosen-with-drop .chosen-drop {
  clip-path: none
}
.chosen-container a {
  cursor: pointer
}
.chosen-container .chosen-single .group-name,
.chosen-container .search-choice .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400
}
.chosen-container .chosen-single .group-name:after,
.chosen-container .search-choice .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top
}
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: var(--input-box-height);
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(/pic/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close,
.chosen-container-single .chosen-single abbr:hover,
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(/pic/chosen-sprite.png) 0 2px no-repeat
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap
}
.chosen-container-single .chosen-search input[type=text] {
  margin: 1px 0;
  padding: 4px 16px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  background: url(/pic/chosen-sprite.png) 100% -20px no-repeat;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  clip: unset;
  clip-path: unset
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer
}
.chosen-container .chosen-results li.disabled-result,
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  cursor: default
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: 500;
  cursor: default
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap
}
.chosen-container-multi .chosen-choices li.search-choice span {
  overflow-wrap: break-word
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: 0;
  background: 0 0
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px
}
.chosen-disabled {
  filter: brightness(50%)!important;
  cursor: default
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close,
.chosen-disabled .chosen-single {
  cursor: default
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  margin: 0;
  padding: 0 0 0 4px;
  outline: 0;
  border: 0!important;
  background: 0 0!important;
  box-shadow: none;
  color: var(--input-placeholder-text-color);
  filter: brightness(70%);
  font-size: 100%;
  font-family: default;
  border-radius: 0;
  width: 25px;
  min-height: 2rem;
}
.chosen-container-active .chosen-choices li.search-field input[type=text] {
  color: var(--highlight-link-text-color);
  filter: brightness(100%)
}
div.chosen-container.chosen-container-multi.chosen {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  max-width: 625px;
  width: 100%!important
}
div.chosen-container .search-choice {
  color: var(--link-text-color)!important;
  background: var(--crust)
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background: 0
}
.chosen-container-multi .chosen-choices li.search-choice:hover {
  background-color: hsla(0,92.1%,65.1%,.3);
  border: 1px solid var(--red)
}
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: auto;
  height: auto;
  border: var(--general-border);
  background-color: var(--input-bg);
  background-image: none;
  cursor: text;
  border-radius: var(--main-br);
  max-width: 650px;
  box-sizing: border-box;
  padding: .125rem .25rem;
}
.chosen-container-active .chosen-choices {
  border: 1px solid var(--lavender);
  background: var(--crust);
  box-shadow: none;
  border-radius: var(--main-br)
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  padding: var(--button-padding);
  border: var(--general-border);
  max-width: 100%;
  background-size: 0;
  background-clip: border-box;
  box-shadow: none;
  cursor: default;
  border-radius: var(--main-br);
  background-color: var(--input-bg);
  margin: .25rem;
}
.chosen-container .chosen-results {
  display: flex;
  flex-flow: row wrap;
  color: var(--button-secondary-text-color);
  background-color: var(--mantle);
  position: relative;
  overflow-x: scroll;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  max-width: 80vw;
  max-height: 400px;
  font-size: var(--font-size);
  border-radius: var(--main-br);
  gap: .5rem;
  border: var(--general-border);
  padding: .5rem;
}
li.active-result {
  flex: 1
}
.chosen-container.chosen-with-drop .chosen-drop {
  clip: unset;
  clip-path: unset;
  background-color: transparent;

}
.chosen-container .chosen-results li {
  display: flex;
  align-content: center;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  padding: var(--button-padding);
  list-style: none;
  overflow-wrap: break-word;
  border: var(--general-border);
  border-radius: var(--main-br);
  flex: 1 1 auto;
  background: var(--crust);
}
.chosen-container .chosen-results li.highlighted {
  border-radius: var(--main-br);
  background-color: var(--button-secondary-hover-bg);
  color: var(--button-secondary-text-hover-color);
  border: var(--button-secondary-border);
  background-image: none
}
/* ################################### */
/* ################################### */
/* ################################### */