tr:has(#showbanner) {

  & > td {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    gap: .5rem;
    & .showlinks {
      margin-bottom: .5rem;
    }
  }
}
.showlinks {
  flex: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1.5rem;
  & [href*="imdb.com"] {
    background: url("../img/imdb.svg") center no-repeat;
    width: 2.5rem;
    height: 1.25rem;
    filter: brightness(80%);
    font-size: 0;
    display: block;
    &:hover {
      filter: brightness(1);
    }
  }
  & a[href*="tvdb.com/?tab=series"] {
    background: url("../img/tvdb.svg") center no-repeat;
    width: 2.5rem;
    height: 1.25rem;
    filter: brightness(80%);
    font-size: 0;
    display: block;
    &:hover {
      filter: brightness(1);
    }
  }
}
#showbanner {
  display: block;
  border-radius: var(--large-br);
  filter: var(--poster-shadow);
  object-fit: contain;
}
#showpage img.minicon, #showpage img[src*="/download.gif"] {
  display: none;
}
a:has(>#showbanner) {
  display: block;
  padding: .5rem;
}
#showpage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 64rem;
  border: var(--table-border);
  border-radius: var(--large-br);
  box-sizing: border-box;
  overflow: clip;
  gap: 1rem;
  & .contentelement:first-child {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--crust);
    flex: 100%;
    border-bottom: var(--table-border);
    &>.contentcontent {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
  &>br {
    display: none;
  }
} 
#overview {
  flex: 100%;

}
#overview > .contentcontent {
  
  background: var(--mantle);
  border: var(--table-border);
  border-radius: var(--large-br);
  text-align: left;
  flex: 100%; 
  margin: 0 1rem;
  padding: .5rem;

}
#overview ~ .contentelement {
  flex: 48%;
  max-width: 48%;
  & img {
    height: auto;
    object-fit: contain;
    aspect-ratio: 5.41/1;
  }
}
#showpage .list-overview {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow: hidden;
	height: 7.5rem;;
	position: relative;
}
.contentelement h2 {
  text-align: left;
  padding: .5rem;
  margin-left: 1rem;
}
.contentelement:not([id]) h2 {
  margin-left: 0rem;
}
#overview ~ .contentelement .contentcontent img {
  width: 100%;
  max-height: 15rem;
}
#showpage img[src*="quickchart.io"] {
  filter: invert(1) hue-rotate(200deg) brightness(1.25) saturate(100%);
}
h2 +.contentcontent {
  border: var(--table-border);
  padding: .5rem;
  border-radius: var(--large-br);
  
  background: var(--mantle);
}
.showseasons {
  display: flex;
  flex-flow: row wrap;
  flex: 100%;
  padding: 1rem;
    padding-top: 1rem;
  padding-top: 0;
  gap: 1rem;
  &>li {
    border: var(--table-border);
    border-radius: var(--large-br);
    flex: 48%;
    background: var(--mantle);

    & h2 {
      padding: .75rem;
    }
  }
}
.showseasons > li > ul {
  display: flex;
  flex-flow: column wrap;
  gap: .25rem;
  padding: .5rem;
}
.showseasons > li > ul {
	text-align: left;
  border-top: var(--table-border);
  background: var(--mantle);
}
ul.showseasons > li {
	display: flex;
	flex-flow: column wrap;
	border-collapse: collapse;
	height: min-content;
	overflow: hidden;
	order: 0;
	flex: 48%;
}
ul.showseasons > li > ul > li > ul {
	display: flex;
	flex-flow: column wrap;
	padding: .2rem .5rem;
	gap: .25rem;
}
#showpage ~ * {
  display: contents;
  font-size:var(--font-size-small)
}