#sidebar-container {
  display: flex;
  background: var(--mantle);
  border: var(--table-border);
  flex: 1;
  max-width: 14rem;
  min-width: 10rem;
  max-height: 100%;
  position: sticky;
  top: 7.625rem;
  padding: 1rem !important;
}
#sidebar-container .embedded {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
#sidebar-container h2 {
  border-bottom: 1px solid var(--surface0)
}
#sidebar-container .embedded>table:not(:last-child) {
  margin-bottom: 1rem;
}
#sidebar-container .embedded>table {
  display: flex;
  flex-flow: column nowrap;
  &>tbody {
    display: contents;
    &>tr {
      display: contents;
    }
  }
}

#sidebar-container .embedded td {
  font-size: 0;
  line-height: 0;
  display: flex;
  flex-flow: column nowrap;
  &>a {
    line-height: 1.25rem;
    /* text-indent: .25rem; */
    font-size: var(--font-size);
    padding: .5rem 1rem;
  }
  & > div {
    display: flex;
    justify-content: center;
  }
}
#sidebar-container select {
  width: 100%;
  max-width: 100%;
}
#sidebar-container > .main { 
  display: contents;
  height: 100%;
  & > tbody {
    display: contents;
    & > tr {
      display: contents;
    }
  }
}
#sidebar-container h2 {
  display: flex;
  padding: .5rem;;
  & a {
    width: 100%;
  }
}
