#header ~ .main {
  position: relative;
  margin-right: 1rem;
  width: auto;
}
#header ~ .main > tbody > tr {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
.bottom[valign="top"]:not(#sidebar-container,:has(>input[name="notifyquotecomment"])) {
  display: flex;
  flex-flow: column nowrap;
  flex: 9999;
  margin: auto;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* All classed tables */
:is(#torrent-list, .tablesorter, .lottery_table, .row-seclog table, 
[action="/log"] ~ table:not(.main), table.padding2, [action="dox.php"]+p+table,
.label + table:has(a[href*="viewtopic"]), .table_requests, 
form[method="get"][style="margin-bottom:20px;"] + table[cellpadding="5"]:not([class]), 
/* forum tables */ .bottom > table[cellpadding="5"]:not([class], [id]):has(div[class*="locked"]), #latest_posts > table, 
form[action="/forums/search"] ~ table, 
form[action="dox.php"] > table, table.tableb table[width="500"], #request-list, 
form[action="inbox.php"] > table:has(#inboxbody), 
.bottom:not([id]) > table[width="660"]),
/* Ignored Shows Page */.bottom:not([id]) > script + h1 + table,
table:has(>thead>tr>.colhead[align="left"]) {
  border: 1px solid var(--surface0);
  margin: 1rem 0;
  overflow: auto;
  border-radius: var(--main-br);
  border-spacing: 0;
  border-collapse: separate;
  & tr:last-child {
    > td:first-child:not(.colhead)  {
      border-bottom-left-radius: var(--main-br);
    }
    > td:last-child:not(.colhead)  {
      border-bottom-right-radius: var(--main-br);
    }
  }
  & :is(td:first-child, th:first-child) {
    text-indent: .5rem;
  }
}
/* Only tables on main bottom */
:is([action="/log"] ~ table:not(.main), table.padding2, [action="dox.php"]+p+table, 
form[method="get"][style="margin-bottom:20px;"] + table[cellpadding="5"]:not([class]), form[action="dox.php"] > table, 
table.tableb table[width="500"],/* Ignored Shows Page */
.bottom:not([id]) > script + h1 + table, #request-list, form[action="inbox.php"] > table:has(#inboxbody), 
.bottom:not([id]) > table[width="660"]) td {
  border-top: 1px solid var(--surface0);
  background-color: var(--mantle);
}
:is(#torrent-list, [action="/log"] ~ table:not(.main), table.padding2, [action="dox.php"]+p+table, 
form[method="get"][style="margin-bottom:20px;"] + table[cellpadding="5"]:not([class]), #profilesettings, 
form[action="dox.php"] > table, table.tableb table[width="500"],/* Ignored Shows Page */
.bottom:not([id]) > script + h1 + table, #request-list, form[action="inbox.php"] > table:has(#inboxbody), 
.bottom:not([id]) > table[width="660"]) th {
  background-color: var(--mantle);
}
table:has(>thead>tr>td.colhead[align="left"]) .colhead {
  background-color: var(--mantle);
}
/* Forum pages table heading */
:is(.bottom > table[cellpadding="5"]:not([class], [id]):has(div[class*="locked"]), #latest_posts > table, 
form[action="/forums/search"] ~ table) {
  background-color: var(--crust);
  & th {
    text-indent: .5rem;
    &[align="right"] {
      text-align: center;
    }
  }
}
/* Forum search - readability, important needed */ 
form[action="/forums/search"] ~ table {
  & td[align="left"] {
    background: var(--crust) !important;
  }
  & td:not(td[align="left"]) {
    text-indent: 0 !important;
  }
}
/* All classed tables - table heading */
:is(#torrent-list, .tablesorter, .lottery_table, .row-seclog, 
[action="/log"] ~ table:not(.main), table.padding2, [action="dox.php"]+p+table,
.label + table:has(a[href*="viewtopic"]), .table_requests, 
form[method="get"][style="margin-bottom:20px;"] + table[cellpadding="5"]:not([class]),  
.bottom > table[cellpadding="5"]:not([class], [id]):has(div[class*="locked"]), #latest_posts > table, form[action="/forums/search"] ~ table, #profilesettings, 
form[action="dox.php"] > table, table.tableb table[width="500"], #request-list, form[action="inbox.php"] > table:has(#inboxbody), 
.bottom:not([id]) > table[width="660"]) th {
  line-height: 2rem;
  white-space: nowrap;
  &:first-child {
    border-top-left-radius: var(--main-br)
  }
  &:last-child {
    border-top-right-radius: var(--main-br)
  }
}
/* All classed tables - th & td padding */ 
:is(#torrent-list, .tablesorter, .lottery_table, .row-seclog, 
[action="/log"] ~ table:not(.main), table.padding2, [action="dox.php"]+p+table,
.label + table:has(a[href*="viewtopic"]), .table_requests, 
form[method="get"][style="margin-bottom:20px;"] + table[cellpadding="5"]:not([class]), #profilesettings, 
form[action="dox.php"] > table, table.tableb table[width="500"],/* Ignored Shows Page */
.bottom:not([id]) > script + h1 + table, #request-list, form[action="inbox.php"] > table:has(#inboxbody), 
.bottom:not([id]) > table[width="660"], table:has(>thead>tr>td.colhead[align="left"])) :is(td, th) {
  padding: .25rem;
}
form[action="dox.php"] > table tr:has(>td[colspan="16"]) {  
  display: none;
}
form[action="dox.php"] td[style="border:black solid 1px;"] {
  border: none !important;
  border-top: var(--general-border) !important;
}
/* Only tables on surface +1 */
.tablesorter, .lottery_table, .row-seclog table,
.label + table:has(a[href*="viewtopic"]), .table_requests {
  border-collapse: initial;
  background-color: var(--mantle);
  border: 1px solid var(--surface0);
  border-radius: var(--main-br);
}
:is(#torrent-list, .tablesorter, .lottery_table, .row-seclog table, .table_requests, table:has(>thead>tr>td.colhead[align="left"])) td:not(.colhead){
  background-color: var(--base);
  border-top: 1px solid var(--surface0);
}
:is(.tablesorter, .lottery_table, .row-seclog,
.label + table:has(a[href*="viewtopic"]), .table_requests) th {
  background-color: var(--mantle)
}
/* Comparison topics table */
.label + table:has(a[href*="viewtopic"]) td:not(.embedded) {
  background-color: var(--base);
  border-top: 1px solid var(--surface0);
}
/* Comparison topics table */
#details .label + table:has(a[href*="viewtopic"]) {
  margin: 0;
}
/* My lists table */
/* form[method="get"][style="margin-bottom:20px;"] + table[cellpadding="5"]:not([class]) */
/* Forum tables */  /* Prevent double padding from tables nested inside tables */
:is(.bottom > table[cellpadding="5"]:not([class], [id]):has(div[class*="locked"]), #latest_posts > table, form[action="/forums/search"] ~ table) td:not(.embedded) {
  border-top: 1px solid var(--surface0);
  background-color: var(--mantle);
  padding: .25rem;
}

/* latest comments */
.embedded > table[width="100%"][cellpadding="10"]:has(.sub) {
  max-width: 64rem;
}
/* bonus page */
table.tableb, table.tableb table[width="500"] {
  width: auto;
}

/* Inbox page */
/* form[action="inbox.php"] > table:has(#inboxbody) */

/* Inbox PM page */ 
.bottom:not([id]) > table[width="660"] {
  width: auto;
}
/*
Search form: form[action="/forums/search"] > table:only-child
Subtitles form: form[action="?"] > table:has([value="Upload file"])
Message(reply): form[name="message][action="takemessage.php"] > table 
Lottery/Requests add: form[action*"/add"] > div > .lottery_table2
Offer add: form[action="/offers/takeadd"] > div > table
Edit Upload form: form[name="editupload"][action="takeedit.php"] > table
Edit upload delete form: form[action="delete.php"] > table
Forum reply form: form[action="forum/post"] > .message
Upload form: form[action="/upload/upload"] > table
, form[action] > table:only-of-type ,
 form[action] > div > table:only-of-type,
Offer vote table: table:has(td.colhead[align="left"])
*/
:is(#profilesettings, form[action] > table:only-of-type:not(#searchbox), form[action] > div > table:only-of-type,
form[action="/forums/search"] > table:only-child,
/* User profile table */
.bottom:not([id]) > .main[border="0"][cellspacing="0"][cellpadding="0"] .embedded > table[width="100%"][cellpadding="5"],
div:has(>h1+.main+.message) > table.message) {
  border: 1px solid var(--surface0);
  overflow: auto;
  border-radius: var(--main-br);
  border-spacing: 0;
  border-collapse: separate;
  margin: auto;
  overflow: clip;
  & tr:last-child {
    > td:first-child  {
      border-bottom-left-radius: var(--main-br);
    }
    > td:last-child  {
      border-bottom-right-radius: var(--main-br);
    }
  }
  & :is(td:first-child, th:first-child) {
    padding-left: .5rem;
  }
  & :is(td) {
    padding: .5rem .5rem;
  }
}
:is(#profilesettings,  form[action] > table:only-of-type:not(#searchbox), form[action] > div > table:only-of-type,
form[action="/forums/search"] > table:only-child,
/* User profile table */
.bottom:not([id]) > .main[border="0"][cellspacing="0"][cellpadding="0"] .embedded > table[width="100%"][cellpadding="5"], 
div:has(>h1+.main+.message) > table.message) tr td {
  border-bottom: 1px solid var(--surface0);
  background-color: var(--mantle);
}
:is(#profilesettings,  form[action] > table:only-of-type:not(#searchbox), form[action] > div > table:only-of-type,
form[action="/forums/search"] > table:only-child,
/* User profile table */
.bottom:not([id]) > .main[border="0"][cellspacing="0"][cellpadding="0"] .embedded > table[width="100%"][cellpadding="5"], div:has(>h1+.main+.message) > table.message) tr:last-child td {
  border-bottom: none;
}
#profilesettings span {
  display: block;
}
form table[width="100%"] > tbody > tr > td.embedded:not(.smiley_table), 
div:has(>h1+.main+.message) > table.message table:not(.smiley_table) > tbody > tr > td.embedded {
  border-bottom: 0 !important;
  padding: .25rem 0 0 0 !important;
  & table:not(.smiley_table) tr {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  & tr > .embedded:has(input, a[href*="MoreTags"]) {
    padding: .125rem !important;
    & input {
      padding: .125rem .5rem !important;
      min-width: 34px;
      max-height: 34px;
    }
  }
}
table[width="800"], table[width="750"] {
  width: auto;
}

/* Links page */
.bottom:not([id]) > .main[width="750"] .embedded > h2 + table,
/* Rules page */
.bottom:not([id]) > .main:not([width]) .embedded > h2 + table:not(:only-of-type)  {
  display: flex;
  flex-flow: column wrap;
  background: var(--mantle);
  border-radius: var(--main-br);
  border: var(--table-border); 
  margin: .5em auto 1rem;
  & td {
    padding: .5rem;
  }
  & ul:not(td>ul) {
    list-style: inside;
  line-height: 1rem;
  padding: .25rem 1rem;
   & > b {
    text-decoration: underline;
   }
  }
  & li {
    list-style: inside;
    padding: .25rem .5rem;
    & li {
      list-style: numbered;
      & li {
        list-style: lower-alpha;
        & li {
          list-style: upper-roman;
        }
      }
    }
  }
}
 /* Staff Page */ 
font[size="+3"]:has([href$="/support/contactstaff"]) + h2 + table table[width="725"] {
    display: flex;
    flex-flow: column wrap;
    background: var(--mantle);
    border-radius: var(--main-br);
    border: var(--table-border); 
    margin: auto;

  & tr:has(.embedded:empty, .embedded > hr) {
    display: none;
  }
  & tr[height="15"] {
    height: auto;
  }
  & td:not([width]) {
    padding: .25rem;
  }
  & tr:has(.embedded > b) {
    border-top: var(--table-border);
    border-bottom: var(--table-border);
  }
  & tr:has(.embedded > b):nth-child(2) {
    border-top: none;
  }
  & tr:first-child {
    line-height: 0;
  }
}
.embedded:has(> font[size="+3"] + h2) {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}
font[size="+3"]:has([href$="/support/contactstaff"]) {
  font-size: var(--font-size-larger);
}


/* IRC page */
.bottom:has(> p:first-child + p:nth-child(2) + p:last-child) > p:not(:empty) {
  margin-block: .5rem;
  word-break: break-all;
  background: var(--mantle);
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--crust);
  border: 1px solid var(--surface0);
  border-radius: var(--main-br);
  overflow: clip;
  padding: .5rem;
  & > b {
    padding: .25rem;
    background-color: var(--mantle);
    flex: 10rem;
    min-width: max-content;
    align-content: center;
    border-right: var(--general-border);
    margin: -.5rem;
    margin-right: .5rem;
    color: var(--th-text-color);
  }
}


/* Subtitles search */
/* form[action="dox.php"] > table */


#torrent-list a.fl::after,
#torrent-list a[title^="25%"]::after,
#torrent-list a[title^="50%"]::after {
  font-family: var(--mono-font-stack);
  text-transform: lowercase;
  font-variant: small-caps;
  float: right;
  font-size: .625rem;
  width: 2rem;
  text-align: center;
  pointer-events: none
}
#torrent-list a.fl::after {
  content: "FREE";
  color: var(--lavender);
  
}
#torrent-list a[title^="25%"]::after,
#torrent-list a[title^="50%"]::after {
  color: var(--sapphire);
  font-size: .625rem;
  font-weight: 300;
  text-align: end;
  filter: brightness(90%);
}
#torrent-list a[title^="50%"]::after {
  content: "50%";
}
#torrent-list a[title^="25%"]::after {
  content: "75%";
}
tr.logentry {
  background-color: inherit !important;
}
.logentry[style="background-color: #3FAD47;"] td:has(a) {
  color: var(--green);
}
.logentry[style="background-color: #C45252;"] td:has(a) {
  color: var(--red);
}
.logentry[style="background-color: #AFAB9B;"] td:has(a) {
  color: var(--subtext0);
}
.logentry[style="background-color: white;"] td:last-child {
  color: var(--sapphire);
}
/* NFO page */
.text > pre[style="font-size:13px; font-family: 'Courier New', monospace;"] {
  background: var(--crust);
  border: var(--table-border);
  padding: .5rem 1rem;
  border-radius: var(--main-br)
}
/* Ignored Shows Page */
.bottom:not([id]) > script + h1 + table:not(.tablesorter) {
  height: 70vh;
  overflow: scroll;
  display: flex;
  overflow-x: clip;
  overflow-y: scroll;
  text-align: left;
}
/* Friendlist page */
td.bottom:has(>.main[height="75px"]) {
  padding: 0!important;
  flex: 47%;
  border-radius: var(--main-br);
  border: var(--table-border); 
  border-collapse: seperate;
  overflow: clip;
  & > .main {
    height: 100%
  }
  & td[width="75"] {
    width: 100px;
    height: 10rem;
    border-right: var(--table-border);
    & > img {
      width: 100px;
      height: 100%;
      max-height: 10rem;
      object-fit: cover;
    }
  }
  & td:last-child {
    padding: 0 !important;
    & .main {
      height: 100%;
      width: 100%;
      & tr {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 158px;
        max-height: 158px;
        align-content: space-between;
        & .embedded {
          flex: 100%;
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          
          gap: .2rem;
          &:first-child {
            display: initial;
            background: var(--crust);
            border-bottom: var(--table-border);
            color: var(--subtext0);
          }
          &:last-child {
            justify-content: end;
            align-items: center;
            gap: .25rem;
            margin: .5rem;
          }
          & a {
            display: inline-block;
          }
          & br:first-of-type {
            display: none;
          }
        }
      }
    }
  }
}
tr:has(>td.bottom>.main[height="75px"]) {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
  margin-bottom: .5rem;
}
/* break long unbreakable string */
.main[border="0"][cellspacing="0"][cellpadding="0"] .embedded > table[width="100%"][cellpadding="5"] td {
  word-break: break-word;
}
/* Poll table list */
table[width="750"] p.sub + .main {
  display: block;
  border-radius: var(--main-br);
  border: var(--table-border); 
  overflow: clip;
  background-color: var(--mantle);
  & td[bgcolor="#ECE9D8"] {
    background-color: var(--surface0);
    border-radius: var(--main-br);
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  & td {
    padding: .25rem;
  }
}
.bottom  > :is(h1, h2, h3) {
  margin-bottom: .5rem;
}
/* Help page table */
.embedded > h2:first-child + table:has(td>p>a) {
  border-radius: var(--main-br);
  border: var(--table-border); 
  background-color: var(--mantle);
  margin: .5rem auto;
  padding: .5rem .75rem;;
  display: block;
}
/* Lists create page */
#list-add-container > p {
  text-align: center;
	text-wrap: balance;
  margin-bottom: .5rem;
}
#list-add:not(:has(.form-input)) {
  border-radius: var(--main-br);
  border: var(--table-border); 
  background-color: var(--mantle);
  margin: .5rem auto;
  padding: .75rem .75rem;
  & label {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: bold;
    color: var(--th-text-color);
    min-width: max-content;
    margin-right: .5rem;
  }
  #list-items {
    margin: .5rem 0;
    & .list-edit-row {
      padding: .25rem 0;
    }
  }
  .list-add-description {
    margin-bottom: .5rem;
  }
  .list-add-description table {
    border: none !important;
  }
}
.list-edit-row.js-hidden {
  display: none;
}
  #list-items {
  display: flex;
  flex-flow: column wrap;
  gap: .5rem;
}
.list-entry-row:has(.list-show-row.js-hidden) {
  display: flex;
  background: var(--quote-bg-color);
  flex-flow: row wrap;
  gap: .5rem;
  border-radius: var(--main-br);
  border: var(--table-border); 
  margin: .5rem auto;
  padding: .75rem .75rem;
}
.list-show-row.js-hidden {
  flex: 100%;
  order: -1;
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
  align-items: center;
  & .js-list-entry-edit, .js-list-entry-delete {
    display: none;
  }
}
br:has(+.tablesorter) {
  display: none;
}
.center_comments > table {
	margin: auto;
}
td[id^="codec"] {
  text-indent: 0rem !important;
}
/* Rules heading info */ 
h2 > :is([color="#1D3953"],[color="#004E98"]), p > font[color="#004E98"] {
 color: var(--subtext1);
}
.colhead {
  color: var(--th-text-color);
  line-heigth: 2rem;
  font-weight: bold;
}