:root {
  /* Accent Colors */
  --flamingo: hsl(0, 59%, 88%);
  --red: #ff6675;
  --maroon: #eba0ac;
  --yellow: #f9e2af;
  --teal: #73daca;
  --blue: hsl(240, 100%, 92%);

  --bluray: var(--sapphire);
  --encode: var(--yellow);
  --capture: var(--maroon);
  --remux: var(--teal);
  --webdl: var(--lavender);
  --audio: var(--flamingo);
  --codec: var(--blue);
  --surface0: #414358;
  --crust: hsl(240, 13.7%, 10%);
  --general-border: 1px solid var(--surface0);
  --small-br: .25rem;
}
.category1,
.category2,
.category3,
.category4,
.category5,
.category6,
.category7,
.category8 {
    width: 42px;
    height: 42px;
}
.medium1,
.medium2,
.medium3,
.medium4,
.medium5,
.medium6 {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}
.catcell {
    width: 42px;
    height: 42px;
    padding: 0;
    border-width: 0 0 1px 1px
} 
#details [id^="codec"] {
  text-indent: 0rem !important;
}
#details [id^="codec"] > img {
    display: none;
}
[id^="codec"]:has([class^="medium"])::before {
  font-size: .75rem
}
[id^="codec"]:has([class^="medium"])::after {
  font-size: .6875rem;
}
[id^="codec"]:has([class^="medium"])::before,
[id^="codec"]:has([class^="medium"])::after {
    box-sizing: content-box;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 21px;
    font-variant: small-caps;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
}
[id^="codec"]:has([class^="medium"])::before {
    border-radius: var(--small-br) var(--small-br) 0 0;
}
[id^="codec"]:not(#codec0):has([class^="medium"])::after {
    border-top: 0 !important;
    border-radius: 0 0 var(--small-br) var(--small-br);
}
#codec0 {
  height: 42px;
}
#codec0:has([class^="medium0"])::after {
  border: 1px solid hsla(0, 58%, 88%, 0.5);
  border-radius: var(--small-br);
  background-color: hsla(0, 59%, 18%, .2);
  content: "Audio";
  color: var(--audio);
  font-variant: small-caps;
  text-transform: lowercase;
}
#codec1:has([class^="medium"])::after {
    border: var(--general-border);
    background-color: var(--crust);
    content: "H264";
    color: var(--codec);
}
#codec2:has([class^="medium"])::after {
    border: var(--general-border);
    background-color: var(--crust);
    content: "MPEG2";
    color: var(--codec);
}
#codec3:has([class^="medium"])::after {
    border: var(--general-border);
    background-color: var(--crust);
    content: "VC-1";
    color: var(--codec);
}
#codec4:has([class^="medium"])::after {
    border: var(--general-border);
    background-color: var(--crust);
    content: "XVID";
    color: var(--codec);
}
#codec5:has([class^="medium"])::after{
    border: var(--general-border);
    background-color: var(--crust);
    content: "HEVC";
    color: var(--codec);
}
#codec6:has([class^="medium"])::after {
    border: var(--general-border);
    background-color: var(--crust);
    content: "VP9";
    color: var(--codec);
}
[id^="codec"]:has(.medium1)::before {
    border: 1px solid hsla(199, 76%, 59%, 0.5);
    background-color: hsla(199, 26%, 39%, 0.1);
    content: "Blu-Ray";
    color: var(--bluray);
    font-variant: all-small-caps;
}
[id^="codec"]:has(.medium3)::before {
    border: 1px solid hsla(41, 56%, 73%, 0.5);
    background-color: hsla(41, 26%, 60%, 0.1);
    content: "Encode";
    color: var(--encode);
    font-variant: all-small-caps;
}
[id^="codec"]:has(.medium4)::before {
    border: 1px solid hsla(350, 65%, 77%, 0.5);
    background-color: hsla(350, 25%, 10%, 0.1);
    content: "Capture";
    color: var(--capture);
    font-variant: all-small-caps;
}
[id^="codec"]:has(.medium5)::before {
    border: 1px solid hsla(171, 38%, 45%, 0.5);
    background-color: hsla(171, 18%, 25%, 0.1);
    content: "Remux";
    color: var(--remux);
    font-variant: all-small-caps;
}
[id^="codec"]:has(.medium6)::before {
    border: 1px solid hsla(232, 57%, 65%, 0.5);
    background-color: hsla(232, 10%, 20%, 0.1);
    content: "WEB-DL";
    color: var(--webdl);
    font-variant: all-small-caps;
}
td[id^="codec"].catcell,
.catcell {
    box-sizing: border-box;
    padding: 0 2px !important;
}
.category1 {
  background: no-repeat center /37px url("../pic/styles/tokyo-night/types/film.svg");
}
.category2 {
  background: no-repeat center /40px url("../pic/styles/tokyo-night/types/tv.svg");
}
.category3 {
  background: no-repeat center /40px url("../pic/styles/tokyo-night/types/documentary.svg");
}
.category4 {
  background: no-repeat center /36px url("../pic/styles/tokyo-night/types/music.svg");
}
.category5 {
  background: no-repeat center /40px url("../pic/styles/tokyo-night/types/volleyball.svg");
}
.category6 {
  background: no-repeat center /40px url("../pic/styles/tokyo-night/types/audio.svg");
}
.category7 {
  background: no-repeat center /40px url("../pic/styles/tokyo-night/types/18-plus.svg");
}
.category8 {
  background: no-repeat center /41px url("../pic/styles/tokyo-night/types/misc.svg");
}
img[class*="medium"][src="/pic/blank2.gif"] {
	height: 0;
} 
 